<article class="guide-navigation guide-navigation--primary">
    <h3 class="guide-header">pattern library</h3>
    <ul class="npl-menu">
        <% collections.pages.forEach(function(page) { %>
        <li class="npl-menu__item npl-menu-item <%- link === page.link ? 'npm-menu-item--active' : '' %>">

            <a class="npl-menu-item__link" href="<%= rootPath %><%= page.link %>"><%= page.title %></a>

            <div class="npl-menu-item__anchors guide-navigation guide-navigation--secondary">
                <ul class="list list--vertical">
                    <% page.headings.forEach(function(heading) { %>
                      <% if (heading.id) { %>
                      <li><a href="<%= rootPath %><%= page.link %>#<%= heading.id; %>"><%= heading.text; %></a></li>
                      <% } %>
                    <% }); %>
                </ul>
            </div>

        </li>
        <% }) %>
    </ul>
    <h4 class="guide-tagline">Better business, by design</strong></h3>


</article>
