<article class="guide-navigation guide-navigation--primary">
    <h3 class="guide-header">pattern library</h3>
    <ul>
        <% collections.pages.forEach(function(page) { %>
        <li>

            <a href="<%= rootPath %><%= page.link %>" class="<%- currentPageSlug === page.slug ? 'is-current' : '' %>"><%= page.title %></a>

            <div class="guide-navigation guide-navigation--secondary">
                <ul class="list list--vertical">
                    <% page.headings.forEach(function(heading) { %>
                    <li><a href="#<%= heading.id; %>"><%= heading.text; %></a></li>
                    <% }) %>
                </ul>
            </div>

        </li>
        <% }) %>
    </ul>
    <h4 class="guide-tagline">Better business, by design</strong></h3>


</article>