---
title:      Forms
layout:     page.ejs
---

<p>We use forms to give customers the ability to provide us with information. Forms matter because the failure of form results in failure demand or a loss sale. We don't like this stuff</p>

<p>So, let's get forms right.</p>

<!-- ====== Section heading ====== !-->
        
<section class="guide-component" id="section-heading">
    <h2 class="guide-component__title v2-title v2-title--2">Section heading</h2>
    <p>Use the field set to represent a set of form controls e.g ADDRESS DETAILS or Payments. The headings separate sections on the page and make it easy for the user to navigate the form.</p>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Should clearly summarise the content of the section',
                'Should be distinct from each other and unambiguous'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'dummy text'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<h2 class="Title-2">ADDRESS DETAILS</h2>'}) %>
    
</section>
        
<hr class="guide-separator"/>


<!-- ====== Subsection heading ====== !-->

<section class="guide-component" id="subsection-heading">
    <h2 class="guide-component__title v2-title v2-title--2">Subsection heading</h2>
    <p>Use a sub section heading when there are multiple inputs to answer. For example radio buttons or check boxes. The sub section heading contains the "question text" in these situations.</p>

    <%- partial('example', {source: '<h3 class="Title-3">Home address</h3>'}) %>
    
</section>
        
<hr class="guide-separator"/>


<!-- ====== Labelling ====== !-->

<section class="guide-component" id="labelling">
    <h2 class="guide-component__title v2-title v2-title--2">Labelling</h2>
    <p>A good label significantly helps form conversion by adding clarity without overwhelming users.</p>
    <p>The purpose of the label is to indicate what data is required in the field. All input fields are required to have labels.</p>
    <p>Labels should be clear and easy to understand. If the label is ambiguous, users will either guess an answer causing problems down the track, or leave the form altogether.</p>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                '<b>For text inputs</b>, align labels to the left and above the field',
                '<b>For radio buttons</b>, align to the right of the input',
                '<b>For all labels</b>, ensure an obvious proximity to the relevant input' 
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Dummy text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<label class="control-label">Phone number</label>'}) %>

</section>

<hr class="guide-separator"/>


<!-- ====== Text input ====== !-->

<section class="guide-component" id="text-input">
    <h2 class="guide-component__title v2-title v2-title--2">Text input</h2>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use for a string of characters',
                'Use for a single line of content',
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Avoid field length that goes over 60 characters as this creates poor readability'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<input id="firstName" name="firstName" type="text" maxlength="24" class="control control-input control-input--text"></input>'}) %>

</section>
        
<hr class="guide-separator"/>


<!-- ====== Radio button ====== !-->

<section class="guide-component" id="radio-button">
    <h2 class="guide-component__title v2-title v2-title--2">Radio button</h2>
    <p>Radio Buttons are used when a choice is required between two or more options. With radio buttons, a selection is mandatory.</p>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Make each option an exclusive choice',
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use long or ambiguous option labels'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<div class="control"><label for="male" class="control-label--radio control-label--radio-first"}"><input id="male" name="gender" type="radio" value="Male" class="hoverhand t-gender-male ng-isolate-scope ng-pristine ng-invalid ng-invalid-required" required="">Male</label></div>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Select box ====== !-->

<section class="guide-component" id="select-box">
    <h2 class="guide-component__title v2-title v2-title--2">Select box</h2>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use in cases when there are many possible options',
                'Use when the user doesn\'t need to know all the possible options to correctly answer',
                'For long lists use auto-complete or auto-suggest'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Avoid using when the user needs to compare all the options '
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<select class="control control-input control-input--select"><option>Option 1</option><option>Option 2</option></select>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Checkbox ====== !-->

<section class="guide-component" id="checkbox">
    <h2 class="guide-component__title v2-title v2-title--2">Checkbox</h2>
    <p>Checkboxes are used when there are lists of options (or a single option) and the user may select any number of choices, including zero, one, or several. In other words, each checkbox is independent of all other checkboxes in the list, so checking one box doesn't uncheck the others.</p>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Dummy text'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Dummy text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<input type="checkbox" class="copy">This is my postal address</p>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Validation ====== !-->

<section class="guide-component" id="validation">
    <h2 class="guide-component__title v2-title v2-title--2">Validation</h2>

    <h3 class="guide-component__title v2-title v2-title--3">Usage</h3>
    <p>We aim to show as few validation messages as possible. Users should know what to input without relying on validation messages.</p>
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
            'Validation messages should be clear, allowing users to know what is wrong and how to fix it',
            'Avoid validation by restricting input where possible e.g. a date selector, select box or radio buttons'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
            'don&#8217;t surprise users. Be forgiving and use standard patterns',
            ''
            ]}) %>


        </div>
    </div>
    <h3 class="guide-component__title v2-title v2-title--3">Timing and positioning</h3>
    <p>Display the validation message as soon as possible without giving false-positives. </p>
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
            'display validation as soon as possible e.g. show as soon as user enters an invalid character',
            'Avoid validation by restricting input where possible e.g. a date selector, select box or radio buttons',
            'Always show validation next to the input field.',
            'Scroll to the first message when there are multiple validation messages after attempting a submit'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
            'don&#8217;t show a validation message for a partially completed field e.g. when entering the third character into a minimum 6 character field',
            ''
            ]}) %>


        </div>
    </div>

    <h3 class="guide-component__title v2-title v2-title--3">Example</h3>

    <%- partial('example', {source: '<div class="control is-invalid guide-input__example rg-mt4at4"><label class="control__label guide-input__label--invert" for="email3-input">Email address</label><div class="control__input"><input type="email" class="control-input-text" id="email3-input" /><i class="control-feedback-icon control-feedback-icon--inside no-select"></i></div><div class="control-feedback-message is-error no-select" style="height: auto;"><div class="tip--direction-u"></div><p class="control-feedback-message__text">Email address cannot be empty.</p></div></div>'}) %>

</section>
                
<!-- ====== Alerts ====== !-->


<section class="guide-component" id="alerts">
    <h2 class="guide-component__title v2-title v2-title--2">Alerts</h2>

    <h3 class="guide-component__title v2-title v2-title--3">Success</h3>
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
            'Should indicate that the task is complete and no more input is required for the current task',
            'Wording should reassure the user that we have received the request and no further action is required'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
            'Should not be used in the middle of a task e.g. don&#8217;t use for each field in a form',
            ''
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: [
        '<div class="v2-alert v2-alert--success">',
        '   <div class="v2-alert__title">Message Title</div>',
        '   Message content',
        '</div>'
    ].join("\n")}) %>

    <h3 class="guide-component__title v2-title v2-title--3">Information</h3>
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
            'Call out an important piece of information that helps the user complete thier task',
            'Message can have an indirect action e.g. please review the image you just uploaded',
            'Use sparingly to call out important or temporary information. If everything is important, nothing is'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
            'Should not have direct actions e.g. enter your first name into the next field.',
            'Instructions and general page content should not be used in information alerts',
            ]}) %>


        </div>
    </div>

    <%- partial('example', {source: [
        '<div class="v2-alert v2-alert--info">',
        '   <div class="v2-alert__title">Message Title</div>',
        '   Message content',
        '</div>'
    ].join("\n")}) %>

    <h3 class="guide-component__title v2-title v2-title--3">Warning</h3>
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
            'Alert user to reduced website functionality',
            'Use when there is an issue outside the users direct control. e.g. Incompatible version of IE, scheduled maintanence or no internet connection'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
            'Should never be displayed if there is full website functionality',
            ''
            ]}) %>


        </div>
    </div>

    <%- partial('example', {source: [
        '<div class="v2-alert v2-alert--warning">',
        '   <div class="v2-alert__title">Message Title</div>',
        '   Message content',
        '</div>'
    ].join("\n")}) %>

    <h3 class="guide-component__title v2-title v2-title--3">Error</h3>
    <p>An error alert should be a last resort. We should address errors before they happen, through:</p>
    <ol>
        <li>Forgiving and flexible inputs and processes</li>
        <li>Catching all validation errors in the inline validation</li>
        <li>Supporting information such as placeholders and tooltips</li>
    </ol>
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
            'The opposite of success, this alert should inform the user that their request has not been received by us',
            'Tell the user what went has happenend and the impact on them',
            'Give the user a way out'            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
            'Should only be a last line of defence',
            'Avoid using as validation message',
            'Never blame the user',
            'Avoid alarming the user'
            ]}) %>


        </div>
    </div>

    <%- partial('example', {source: [
        '<div class="v2-alert v2-alert--error">',
        '   <div class="v2-alert__title">Message Title</div>',
        '   Message content',
        '</div>'
    ].join("\n")}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Supporting information ====== !-->

<section class="guide-component" id="supporting-information">
    <h2 class="guide-component__title v2-title v2-title--2">Supporting information</h2>

    <h3 class="v2-title v2-title--3">Validation/field rules</h3>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Inform the user before they use the field, addressing potential errors before they happen',
                'Always use clear, simple wording'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'dummy text'
            ]}) %>
    
        </div>
    </div>

    <h3 class="v2-title v2-title--3">Guidance</h3>

    <%- partial('example', {source: ''}) %>

</section>

<hr class="guide-separator"/>
