---
title:        Buttons
githubLink:  https://github.com/nib-styles/v2-buttons
---

<h3 class="v2-title v2-title--3">Labelling</h3>

<%- partial('do-list', {items: [
  'Tell the user what the button will do',
  'Single line'
]}) %>

<%- partial('dont-list', {items: [
  'DO NOT use contextless request as labels e.g. "Click here"',
  'Do NOT use multi-line line labels'
]}) %>

<section g-xs="mt4">
    <button class="v2-button v2-button--primary">Primary</button>
    <button class="v2-button v2-button--secondary-dark-grey">Secondary</button>
    <button class="v2-button v2-button--tertiary-grey">Tertiary</button>
</section>

<!-- ====== PRIMARY ====== !-->

<section class="guide-component">
    <h3 class="guide-component__title v2-title v2-title--3" id="Primary">Primary</h3>

    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use as main call to action',
                'Use sparingly',
                'Can be used with an icon e.g. New join indicating a step in the process',
                'Can be used multiple times on a page when it performs the same action e.g. <a href="https://www.nib.com.au/health-insurance/choose-cover/hospital" class="v2-link v2-link--green">Quote test</a>'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use on the same page for different purposes e.g. <a href="http://nib.com.au" class="v2-link v2-link--green">nib Home page</a>'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--primary">Perform the primary action</button>'}) %>

</section>


<!-- ====== SECONDARY ====== !-->

<section class="guide-component">
    <h3 class="guide-component__title v2-title v2-title--3" id="Secondary">Secondary</h3>

    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use sparingly',
                'Can be used with an icon e.g. No hospital button on <a href="https://www.nib.com.au/health-insurance/choose-cover/hospital" class="v2-link v2-link--green">Quote test</a>',
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use orange',
                'If using too frequently on a page (to designer\'s discrection), consider using tertiary.'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--secondary-dark-grey">Perform the secondary action</button> \n<button class="v2-button v2-button--secondary-light-grey">Perform the secondary action</button> \n<button class="v2-button v2-button--secondary-green">Perform the secondary action</button>'}) %>

</section>


<!-- ====== TERTIARY ====== !-->

<section class="guide-component">
    <h3 class="guide-component__title v2-title v2-title--3" id="Tertiary">Tertiary</h3>

    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use when actions or links are numerous on a screen',
                'Can be used with an icon',
                'Ensure it is obviously clickable. e.g. colour change, underline or icon'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use as a primary',
                'Don\'t use a background'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--tertiary-grey">Perform the tertiary action</button> \n<button class="v2-button v2-button--tertiary-green">Perform the tertiary action</button>'}) %>

</section>

<!-- ====== ICONOGRAPHY ====== !-->

<section class="guide-component">
    <h3 class="guide-component__title v2-title v2-title--3" id="Iconography">Iconography</h3>

    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use to indicate an action such as a drop down or function of a button e.g. <a href="nib.com.au/oshc" class="v2-link v2-link--green">OSHC Page</a>',
                'The icon color should match the color of the text on button'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Icon size should not exceed that of the accompanying text\'s line height'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--primary v2-button--icon-on-right">Perform the action with an icon <i class="v2-icon v2-icon--smallest v2-icon--chevron-circle v2-icon--offset-descenders"></i></button>'}) %>

</section>

<!-- ====== Sizing ====== !-->

<section class="guide-component">
    <h3 class="guide-component__title v2-title v2-title--3" id="Sizing">Sizing</h3>


    <%- partial('example', {source: '<button class="v2-button v2-button--primary">Perform the normal sized action</button>'}) %>
    <%- partial('example', {source: '<button class="v2-button v2-button--primary v2-button--medium">Perform the medium sized action</button>'}) %>
    <%- partial('example', {source: '<button class="v2-button v2-button--primary v2-button--large">Perform the large sized action</button>'}) %>

</section
